---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
import AsciiMoon from "../components/AsciiMoon.astro";
---

<Layout title="ASCII ☾ MOON">
	<main>
		<p class="text-3xl xl:text-5xl 2xl:text-7xl bg-[aqua] p-2 font-bold">
			ASCII ☾ MOON
		</p>
		<section class="p-8 border-b-2 border-[aqua]">
			<div
				class="grid grid-cols-5 text-[aqua] max-w-md mx-auto text-xs sm:text-sm text-center"
			>
				<button class="hover:underline">
					{"<< Day"}
				</button>
				<span>|</span>
				<button class="hover:underline"> Today</button>
				<span>|</span>
				<button class="hover:underline">
					{"Day >>"}
				</button>
			</div>
		</section>
		<AsciiMoon />
		<section
			class="border-t-2 border-[aqua]"
		>
		<div class="place-items-center grid grid-cols-2 max-w-xs text-[aqua] absolute left-4 bottom-4">

			<img src="moon.png" alt="" class="float-left p-4" /><p
				class="text-xs sm:text-sm"
			>
				ASCII ☾ MOON
			</p>
		</div>
		</section>
	</main>

	<style></style>
</Layout>
